<style>
    .img{
        height: 550px;
        width: auto;
    }
</style>
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1"><%= @product.name%></h1>
        <h1 class="display-6 mt-3">Rs.<%= @product.price%></h1>
        <br>
        <hr>
        <p class="lead ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque beatae non similique assumenda! Sed, deserunt.</p>
        <% if current_user.id == @product.user.id%>
        <div class="d-grid d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <%= link_to products_path,class:'btn' do%>
          <i class="fa fa-lg fa-backward"></i>    
          <%end %>
          <%= link_to edit_product_path(@product),class:'btn' do%>
          <i class="fa fa-lg fa-edit"></i>    
          <% end %>
          <%= button_to product_path(@product),method: :delete,class:'btn text-danger' do%>
            <i class="fa fa-lg fa-trash"></i>  
          <%end %>
        </div>
        <% else %>
        <div class="d-grid d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <%= link_to products_path,class:'btn' do%>
          <i class="fa fa-lg fa-backward"></i>    
          <%end %>
        </div>
        <% end %>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <%= link_to image_tag(@product.image,class:'rounded-lg-3 img'), @product.image%>
      </div>
    </div>
  </div>  
  
  <%= render 'comments/form'%>
  <%= render 'comments/comment'%>